body{
    margin: 0;
    padding: 0;
    background: #B7E6E1;

}
.boxHeader{
    padding: 3px;
    background: orange;
    color: #fff;
    text-align: center;
}
.boxHeader{
    padding: 2px;
    background: orange;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 40px;
    font-weight: 500;
}
.para-00{
    margin-top:40px;
    background: white;
}
.para{
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-top: 20px;
}
.footer-page{
    margin-top:40px;
}
.bold-text {
    font-weight: bold;
}
.card-wid{
    width: 200px;
}
.movielinke{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
}